[data-role="customIcon"] {
    height: 40px;
    padding: 10px
}

[data-role="customLabel"] {
    font: 20px "Ubuntu";
}

#openFile {
    float: right
}

#document-title {
    width: 300px;
    margin: auto;
    position: absolute;
    top: 18px;
    left: 60px;
    overflow: hidden;
    height: 25px
}

#headerID {
    position: relative;
    margin-bottom: -1px;
    z-index: 10;
}

#navigation-list {
    width: 300px;
    top: 70px;
    position: absolute;
    background-color: #F5F5F5;
    z-index: 100000;
    display: none;
}

.toolbarButton:hover {
    background-color: #DAD7D3 !important;;
}

.toolbarButton:hover:active {
    background-color: #AEA79F;
}

#toolbarSidebar {
    display: none;
}

#close-sidebar-button {
    position: absolute;
    width: 20px;
    height: 20px;
    right: left;
    background-color: #EBEBEB;
    z-index: 1;
    border-radius: 10px;
    border: 2px solid;
        
}

#main {
    position: absolute;
    right: 0px;
    width: 100%;
    bottom: 0px;
    top: 0px;
}

#show-header-button {
    top: 10px;
}

#hide-header-button {
    top: 74px;
}

.showhide-header-button {
    z-index: 9;
    background-color: #C2C2C2;
    position: absolute;
    right: 10px;

}

#headerID > .toolbarButton {
    margin-bottom: -3px;
}

#numPages {
    float: right;
    margin-top: 19px;
    margin-right: 10px;
}

#pageNumber {
    margin: 14px;
    margin-top: 12px;
    float: right;
    font: 20px Ubuntu;
    margin-right: 5px;
}

#scaleSelectContainer {
    float: right;
    margin-right: 10px;
}

#scaleSelect {
    padding: 5px;
}
