[data-role="customIcon"] {
    height: 40px;
    padding: 10px
}

[data-role="customLabel"] {
    font: 20px "Ubuntu";
}

#openFile {
    float: right
}

#document-title {
    width: 70%;
    margin: auto;
    position: absolute;
    top: 18px;
    left: 60px;
    overflow: hidden;
    height: 25px
}

#headerID {
    position: relative;
    margin-bottom: -1px;
}

#navigation-list {
    width: 300px;
    top: 70px;
    position: absolute;
    background-color: #F5F5F5;
    z-index: 100000;
    display: none;
}

.toolbarButton:hover {
    background-color: #DAD7D3 !important;;
}

.toolbarButton:hover:active {
    background-color: #AEA79F;
}

#toolbarSidebar {
    display: none;   
}

#close-sidebar-button {
    position: absolute;
    width: 20px;
    height: 20px;
    right: left;
    background-color: #EBEBEB;
    z-index: 1;
    border-radius: 10px;
    border: 2px solid;
        
}
